.buttonwrapper {
  width: 100%;
}
.button {
  margin: auto;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-1);
  color: var(--fg);
  transition: all var(--transition);
  border-radius: var(--radius-sm);
  cursor: pointer;
}
.button svg {
  margin-left: 3px;
}
.button:hover {
  background-color: var(--accent-2);
}
