@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}
.sticky-nav {
  z-index: 20 !important;
  top: 0 !important;
}
.sticky-footer {
  position: sticky;
  bottom: 0;
  z-index: 0;
}
.nav-link {
  text-decoration: none !important;
  transition: color 100ms ease-in-out !important;
}

.active {
  font-weight: bold !important;
  text-decoration: none !important;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
