@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.nav-link {
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline;
}
.active {
  font-weight: bold;
  text-decoration: none;
}
