@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
@media (prefers-color-scheme: light) {
  body{
  background: #ffffff !important;
  }
}
@media (prefers-color-scheme: dark) {
  body{
  background: #1f2023 !important;
  }
}
h1 {
  font-size: 2em !important;
  font-weight: bold !important;
}

h2 {
  display: block !important;
  font-size: 1.5em !important;
  margin-top: 0.83em !important;
  margin-bottom: 0.83em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-weight: bold !important;
}
h3 {
  display: block !important;
  font-size: 1.17em !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-weight: bold !important;
}
h4 {
  display: block !important;
  margin-top: 1.33em !important;
  margin-bottom: 1.33em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-weight: bold !important;
}
p {
  display: block !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.nav-link {
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline;
}
.active {
  font-weight: bold;
  text-decoration: none;
}
