.block {
  font-weight: light !important;
}
.bold {
  font-weight: bold;
}
.code {
  font-family: var(--font-mono);
  font-size: 15px;
  background-color: var(--accent-2);
  padding: 3px 6px;
  border-radius: var(--radius-sm);
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}
