.card,
.skeleton {
  border: 2px solid var(--accent-1);
  border-radius: var(--radius);
  padding: 0 var(--gap);
  margin-bottom: var(--gap-half);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: var(--bg);
  transition: all var(--transition);
}
.card:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  border-color: var(--accent-2);
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--success);
}

.group:hover .title {
  text-decoration: underline !important;
}

.stars {
  display: flex;
  align-items: center;
}
.stars svg {
  margin: 0 0 1px 2px;
}

.description {
  margin: -10px 125px 0 0;
  font-weight: 400;
}

.language {
  margin: var(--gap-half) 0 var(--gap) 0;
  background-color: var(--success);
  max-width: max-content;
  padding: 0px 8px;
  border-radius: var(--radius-sm);
  color: #fff;
}
.searchWrapper {
  position: relative;
  width: 100%;
}

.search {
  border: 2px solid var(--accent-2) !important;
  width: 100%;
  padding: var(--gap);
  font-size: 18px;
  border-radius: var(--radius);
  margin: var(--gap-half) 0;
}
.search::placeholder {
  color: var(--accent-5) !important;
}

.searchIcon {
  position: absolute;
  top: 25px;
  right: 15px;
  color: var(--accent-5) !important;
}

.dummytitle {
  width: 50%;
  height: 25px;
  margin-bottom: 0.5rem !important;
  animation: pulse 2s infinite;
  border-radius: var(--radius-sm);
  background-color: var(--accent-2);
}
.dummydescription {
  width: 75%;
  height: 25px;
  animation: pulse 2s infinite;
  border-radius: var(--radius-sm);
  background-color: var(--accent-2);
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 960px) {
  .description {
    margin: -10px 0 0 0;
  }
}
