.list {
  padding: 0;
  margin: 0;
}
.step {
  display: flex;
  align-items: flex-start;
}
.title {
  margin: 0 0 var(--gap-half) 0;
}
.icon {
  margin: 5px 5px 0 0;
  font-weight: 500;
}
.content {
  margin: 0 0 var(--gap) 0;
  color: var(--accent-7);
}
.buttonwrapper {
  width: 100%;
}
.button {
  margin: 0 auto;
  padding: 8px 12px;
  background-color: var(--bg);
  color: var(--success);
  border: 2px solid var(--success);
  display: flex;
  align-items: center;
  border-radius: var(--radius-sm);
  transition: all var(--transition);
  cursor: pointer;
}
.button:hover {
  background-color: var(--success);
  color: #fff;
}
