.track {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.info {
  display: flex;
  align-items: center;
}
.albumArt {
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
  border-radius: var(--radius-sm);
}
.albumArtPlaceholder {
}
.title {
  margin: 0;
}
.title:hover {
  text-decoration: underline;
}
.rank {
  margin: 0 10px 0 0;
  font-weight: 500;
}
.artist {
  margin: 0;
  color: var(--accent-6);
}
